<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Secured Page</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="container">
    <h1>Welcome to the Secured Page</h1>
    <a href="/logout" style="color: red;">Logout</a>
    <p>This page is accessible only to authenticated users.</p>
    <p>follow the links to access some of the work made by me</p>
    <a href=" https://risha-v.github.io/OIBSIP-CALCULATOR/" style="color: blue;">calculator</a>
    <a href=" https://risha-v.github.io/OIBSIP-TODO/" style="color: blue;">todo app</a>
    <a href="https://risha-v.github.io/OIBSIP-TRIBUTE-PAGE/" style="color: blue;">tribute to the missile man of india</a>
  </div>
</body>
</html>